.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100% !important;
  }
  
  .example-full-width {
    width: 400px!important;
  }

  .btn-add{
      float: right;
      padding-right: 50px;
      padding-top: 10px;
  }