<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Building Management</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="btn-add">
           <a [routerLink]="['/admin/manage-buildings/addbuilding']">
            <button type="button" class="btn btn-primary" (click) ="OpenDialogAddBuilding()">
              Add Building
            </button>
          </a>
      </div>
    </div>
    <!-- Topbar Search -->
    <div class="card-body">
      <div class="table-responsive-xl">
        <table class="table">
          <thead>
            <tr>
              <th>Name Building</th>
              <th>Total Floor</th>
              <th></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let building of listBuilding" >
                <td>{{building.name_building}}</td>
                <td>{{building.total_floor}}</td>
                <td><button type="button" class="btn btn-success" (click)="OpenDialogUpdateBuilding(building)">Update</button>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="alertFunction(building.id)">Delete</button>
                </td>
               <a [routerLink]="['/admin/manage-buildings/manage-floors',building.id]"><td><button type="button" class="btn btn-info" >Add Floor</button>
                </td></a>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
