<div class="container-fluid">
    <div class="row header-showDetail">
      <div class="col-md-12">
        <h4>ADD ROOM</h4>
      </div>
    </div>
    <form class="room" [formGroup]="roomformGroup" style="margin-top: 10px" novalidate>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input type="number" min="0" max="999" oninput="validity.valid||(value='');" formControlName="nameroom" #name_room matInput placeholder="Name room" required>
            <mat-error *ngIf="nameroom.invalid">Name room is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="sizeroom" #size matInput placeholder="Length x Width" required>
            <mat-error *ngIf="sizeroom.invalid">Size is required!</mat-error>
          </mat-form-field>
        </div>
      </div>  
      <div class="row">
          <div class="col-md-8">
              <div class="alert alert-danger" role="alert" *ngIf="messageFromService">
                  {{messageFromService}}
              </div>
          </div>
        <div class="col-md-2">
            <button class="btn btn-primary" [disabled]="roomformGroup.status == 'INVALID'" (click)="onSave(name_room.value, size.value)">Add</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" (click)="onClose()">Close</button>
        </div>
      </div> 
    </form>
  </div> 