<div class="container-fluid">
  <div class="row header-showDetail">
    <div class="col-md-12">
      <h4>UPDATE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <mat-form-field>
        <label class="style-label">Username:</label>
        <input matInput [ngModel]="user.username" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Password:</label>
        <input #password type="password" matInput [ngModel]="user.password">
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Email:</label>
        <input #email matInput [ngModel]="user.email">
      </mat-form-field>
    </div>
    <div class="col-md-5">
      <mat-form-field>
        <label class="style-label">Name:</label>
        <input #name matInput [ngModel]="user.name">
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Phone:</label>
        <input #phone matInput [ngModel]="user.phone">
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Birthday:</label>
        <input #birthday matInput [matDatepicker]="picker" placeholder="Choose your birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <mat-form-field>
        <label #birthday class="style-label">Birthday:</label>
        <input type="datetime" matInput [ngModel]="user.birthday | date">
      </mat-form-field> -->
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <!-- <p>
            <mat-checkbox [formControl]="disableSelect">Disable select</mat-checkbox>
        </p> -->
      <mat-form-field >
        <mat-label>Level</mat-label>
        <mat-select #level matNativeControl required (change) = "selectChangeHandler($event)">
          <!-- <mat-select > -->
          <!-- <mat-option *ngFor="let eachLevel of levels" [value]="eachLevel">{{eachLevel}}</mat-option> -->
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="floor">Floor Manager</mat-option>
          <mat-option value="customer">Customer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Building</mat-label>
        <mat-select matNativeControl required #id_building [ngModel]="selectedValue">
          <mat-option *ngFor="let eachBuilding of buildings" [value]="eachBuilding">{{eachBuilding}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Floor</mat-label>
        <mat-select [formControl]="floor" multiple #id_floors>
          <mat-option *ngFor="let eachFloor of floors" [value]="eachFloor">{{eachFloor}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="onUpdate(user,password.value,name.value,email.value,phone.value,birthday.value,level.value,id_building.value,id_floors.value)">Update</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
  </div>
</div> 