h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
#body-calendar{
    height: 500px;
    overflow: auto;

}
::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}
.select-hour{
  width: 70px;
}
.label-update-schedule-date{
  padding-top: 41px;
}
.label-update-schedule-hour{
  padding-top: 17px;
}
p{
  text-align: center;
}
.label-update-schedule-timeSchedule{
  padding-top: 21px;
}
.example-full-width {
  width: 100%;
}
.label-update-schedule-title{
  padding-top: 41px;
  padding-left: 85px;
}
.button-group .button-save { 
  margin-right: 10px;
}
.label-update-schedule-building{
  width: 150px;
  margin-left: 35px;
}