<div class="title">
  <h2 mat-dialog-title>ADD</h2>
</div>
<mat-dialog-content>
  <div class="container">
    <form>
      <div class="row">

        <div class="col"  (capsLock)="capsOn=$event">
          <div class="alert alert-danger" role="alert" *ngIf="checkUserNameAndEmail">
            {{checkUserNameAndEmail}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="capsOn">
            Warning: caplock is on !
          </div>
          <mat-form-field hintLabel="Max 15 characters"> 
                <input maxlength="15" #username id="username" matInput [formControl]="userNameFormControl" placeholder="Enter username"
                (keydown.space)="$event.preventDefault();"
                onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off
                >
                <!-- <p id="alert">WARNING! Caps lock is ON.</p> -->
                <!-- <label *ngIf="capOn">Caps Locked</label> -->
              <mat-error *ngIf="userNameFormControl.hasError('required') || userNameFormControl.hasError('maxlengh')">
                Username is required
              </mat-error> 
             <mat-hint align="end">{{username.value?.length || 0}}/15</mat-hint>
          </mat-form-field><br />
          <mat-form-field>
            <input type="password" (keydown.space)="$event.preventDefault();" #password matInput
              [formControl]="passwordFormControl" placeholder="Password..." required onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off/>
            <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                      </mat-error> -->
            <mat-error *ngIf="passwordFormControl.invalid">
              <!-- Name is <strong>required</strong> -->
              {{GetErrorMessagePassword()}}
            </mat-error>
          </mat-form-field><br />

          <mat-form-field>
            <input type="text" #name matInput [formControl]="nameFormControl" placeholder="Name..." required onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off/>
            <mat-error *ngIf="nameFormControl.invalid">
              <!-- Name is <strong>required</strong> -->
              {{GetErrorMessageName()}}
            </mat-error>

            <!-- <mat-error *ngIf="nameFormControl.hasError('minLength')">
                    12121212121212
                  </mat-error> -->
          </mat-form-field><br />
          <!-- <mat-form-field>
                  <input #email matInput placeholder="Email..." /> </mat-form-field
                ><br /> -->
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field><br>
          <mat-form-field class="example-customize-width">
            <!-- <span matPrefix>+ &nbsp;</span> -->
            <input #phone matInput type="number" [formControl]="phoneFormControl" value="0" min="0" max="999999999"
              oninput="validity.valid||(value='');" placeholder="Phone..." onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off required>
            <!-- <mat-error *ngIf="phoneFormControl.hasError('required')">
                        Phone is required
                      </mat-error> -->
            <mat-error *ngIf="phoneFormControl.invalid">{{GetErrorMessagePhone()}}</mat-error>
          </mat-form-field><br />
        </div>
        <div class="col">
          <!-- <mat-form-field>
                  <select matNativeControl required  #level placeholder="Level" selected="defaultLevelt"  (selectionChange)="selectChangeHandler(level.value)">
                    <option *ngFor="let eachLevel of levels" [value]="eachLevel">{{eachLevel}}</option>
                  </select> 
                </mat-form-field> -->

          <mat-form-field>
            <mat-select #level (selectionChange)="selectChangeHandler($event.value)">
              <mat-option *ngFor="let eachLevel of levels" [value]="eachLevel">
                {{eachLevel}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br />
          <!-- <mat-form-field>
                  <select matNativeControl required placeholder="Bulding" #id_building >
                    <option></option>
                    <option value="building.id" *ngFor='let building of arrayBuildingFloor'>{{building.name_building}}</option>
                  </select> </mat-form-field
                ><br /> -->
          <mat-form-field>
            <mat-label>Choose bulding</mat-label>
            <mat-select #id_building (selectionChange)="onSelectBuilding($event.value)" [disabled]="setDis">
              <mat-option [value]="building.id" *ngFor='let building of arrayBuildingFloor'>
                {{building.name_building}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose floor</mat-label>
            <mat-select multiple #id_floors [disabled]="setDis">
              <mat-option *ngFor="let floor of arrayFloorByBuilding.floor" [value]="floor.id_floor">{{
                      floor.name_floor
                    }}</mat-option>
            </mat-select>
          </mat-form-field><br />
          <mat-form-field>
            <input #birthday matInput [formControl]="birthdayFormControl" [max]="myDate" [matDatepicker]="picker"
              placeholder="Choose your birthday" disabled />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error *ngIf="birthdayFormControl.hasError('required')">
              Birthday is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="button-group">

        <button type="button" style="margin-right: 30px;" class="btn btn-primary" (click)="onSave(username.value,
                password.value,
                level.value,
                id_building.value,
                id_floors.value,
                name.value,
                email.value,
                phone.value,
                birthday.value)">Add</button>
        <button type="button" class="btn btn-secondary" style="background-color: #334d4d; border: hidden"
          (click)="onClose()">Close</button>
          <div class="alert alert-danger" id="text" role="alert" style="display: none;">
            Capslock is on !!!
          </div> 
      </div>
    </form>

  </div>
  
</mat-dialog-content>