<div class="title">
  <h1 mat-dialog-title>ADD BUILDING</h1>
</div>
<div class="form" [formGroup]="buildingFormGroup" novalidate>
  <mat-form-field class="example-full-width">
    <input #name_building matInput placeholder="Name building" formControlName="nameBuiildingFormControl">
    <mat-error *ngIf="nameBuiildingFormControl.invalid">Name building is required!</mat-error>
  </mat-form-field>
  <div class="alert alert-danger" role="alert" *ngIf="messageFromService">
    {{messageFromService}}
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary"  style="margin-right: 30px;" [disabled]="buildingFormGroup.status == 'INVALID'" (click)="OnSave(name_building.value)">Add</button>
    <button type="button" class="btn btn-secondary" (click)="OnClose()">Close</button>
  </div>
</div>
  



 