<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-sidebar-admin></app-sidebar-admin>
          <app-table-list></app-table-list>
        </div>
        <div class="col-md-10">
            <app-navbar-admin></app-navbar-admin>
        </div>
  </div>
</div>