
<div class="container-fluid">
    <div class="sidebar-admin">
        <app-sidebar-admin></app-sidebar-admin>
      </div>
      <div class="navbar-admin">
        <app-navbar-admin></app-navbar-admin>
      </div>
</div>
