<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Floor Manager: {{building.name_building}}</h1>
    <div class="card shadow mb-4">
      <!-- Topbar Search -->
      <div class="card-body">
        <div class="table-responsive-xl">
          <table class="table">
            <thead>
              <tr>
                <th>Name floor</th>
                <th>Total room</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let floor of arrFloor" >
                  <td>Tầng: {{floor.name_floor}}</td>
                  <td>{{floor.total_room}} phòng</td>
                 <a [routerLink]="['/floormanager/floor-manage-floors',building.id,floor.id_floor]"><td><button type="button" class="btn btn-info" >Add Room</button>
                  </td></a>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
  