<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Account Management</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">

      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        
        <div class="input-group">
          <div class="input-group-append">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Search by name....</mat-label>
                <input matInput [formControl]="findControl" />
              </mat-form-field>
            </form>           
          </div>
        </div>       
      </form>
      <div class="btn-add">
          <a  [routerLink]="['/admin/user-management/adduser']">  <button type="button" class="btn btn-primary" (click)="openDialog()">Add a user</button></a>
      </div>
    </div>
    <!-- Topbar Search -->
    <div class="card-body">
      <div class="table-responsive-xl">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>

              <tr *ngFor="let user of lists">
               
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.level}}</td>
                <td><button type="button" (click)="openDialogUserDetail(user)" class="btn btn-primary">Detail</button>
                </td>
                <td><button type="button" (click)="openDialogUserUpdate(user)" class="btn btn-success">Update</button>
                </td>
                <td><button type="button" (click)="alertFunction(user.id)" class="btn btn-danger">Delete</button></td>
              </tr>
              <tr *ngFor="let userSearch of user">
                <td>{{userSearch.name}}</td>
                <td>{{userSearch.username}}</td>
                <td>{{userSearch.email}}</td>
                <td>{{userSearch.level}}</td>
                <td><button type="button" (click)="openDialogUserDetail(user)" class="btn btn-primary">Detail</button>
                </td>
                <td><button type="button" (click)="openDialogUserUpdate(user)" class="btn btn-success">Update</button>
                </td>
                <td><button type="button" (click)="alertFunction(user.id)" class="btn btn-danger">Delete</button></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->