<h2 mat-dialog-title>Add a user</h2>
<mat-dialog-content>
    <mat-label>User Name:</mat-label>
  <mat-form-field>
   
      <input matInput placeholder="Enter user name">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="">
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>