<h2 mat-dialog-title>Add a user</h2>
<mat-dialog-content>
   
  <mat-form-field>
   
      <input matInput placeholder="Enter user name">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Password...">
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="Favorite food">
      <mat-option *ngFor="let user of childData" [value]="user.value">
        {{user.level}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>