<h2 mat-dialog-title>Add a user</h2>
<mat-dialog-content>
   
  <mat-form-field>
   
      <input matInput placeholder="Enter user name">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Password...">
</mat-form-field><br>
<mat-form-field>
  <select matNativeControl required placeholder="Level">
      <option value="" selected></option>
    <option value="admin">Admin</option>
    <option value="customer">Customer</option>
    <option value="user">User</option>
    
  </select>
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>