<mat-dialog-content>
  
  <mat-form-field>
      <input matInput placeholder="Enter user name"><br>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Course Description">
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>