<div class="title">
  <h2 mat-dialog-title>ADD</h2>
</div>
<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input
            #username
            matInput
            placeholder="Enter user name"
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            #password
            matInput
            placeholder="Password..."
          /> </mat-form-field
        ><br />

        <mat-form-field>
          <input #name matInput placeholder="Name..." /> </mat-form-field
        ><br />
        <mat-form-field>
          <input #email matInput placeholder="Email..." /> </mat-form-field
        ><br />
        <!-- <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field><br> -->
        <mat-form-field>
          <input #phone matInput placeholder="Phone..." /> </mat-form-field
        ><br />
      </div>
      <div class="col">
        <mat-form-field>
          <select matNativeControl required placeholder="Level" #level>
            <option value="" selected></option>
            <option value="Admin">Admin</option>
            <option value="customer">Customer</option>
            <option value="floormanager">Floor manager</option>
          </select> </mat-form-field
        ><br />
        <mat-form-field>
          <select matNativeControl required placeholder="Bulding" #id_building>
            <option value="" selected></option>
            <option value="TN10T">Tòa nhà 10 tầng</option>
            <option value="TN4T">Tòa nhà 4 tầng</option>
            <option value="TN7T">Tòa nhà 7 tầng</option>
          </select> </mat-form-field
        ><br />
        <mat-form-field>
          <mat-label>Choose floor</mat-label>
          <mat-select [formControl]="floors" multiple #id_floors>
            <mat-option *ngFor="let floor of floorsList" [value]="floor">{{
              floor
            }}</mat-option>
          </mat-select> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            #birthday
            matInput
            [matDatepicker]="picker"
            placeholder="Choose your birthday"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onClose()">Close</button>
  <button
    class="mat-raised-button mat-primary"
    (click)="
    onSave(
      username.value,
      password.value,
      level.value,
      id_building.value,
      id_floors.value,
      name.value,
      email.value,
      phone.value,
      birthday.value
    )
  "
  >
    Save
  </button>
</mat-dialog-actions>
