<div class="container-fluid">
  <div class="row header-showDetail">
    <div class="col-md-12">
      <h4>UPDATE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <mat-form-field>
        <label class="style-label">Username:</label>
        <input matInput [ngModel]="user.username" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Password:</label>
        <input #password type="password" matInput [ngModel]="user.password" [formControl]="passwordFormControl" 
                minlength="6" maxlength="30" (keydown.space)="$event.preventDefault();" onpaste="return false;" 
                onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off>
        <mat-error *ngIf="passwordFormControl.invalid">
            {{getErrorMessagePassword()}}
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Email:</label>
        <input #email matInput [ngModel]="user.email" [formControl]="emailFormControl" (keydown.space)="$event.preventDefault();"
                onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off>
        <mat-error *ngIf="emailFormControl.invalid">
          {{getErrorMessageEmail()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-5">
      <mat-form-field>
        <label class="style-label">Name:</label>
        <input #name matInput [ngModel]="user.name" [formControl]="nameFormControl" minlength="6" maxlength="30"
                onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off>
        <mat-error *ngIf="nameFormControl.invalid">
            {{getErrorMessageName()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Phone:</label>
        <input #phone type="number" matInput [ngModel]="user.phone" [formControl]="phoneFormControl" (keydown.space)="$event.preventDefault();"
                min="0" max="999999999" onpaste="return false;" onCopy="return false" onCut="return false" 
                onDrag="return false" onDrop="return false" autocomplete=off oninput="validity.valid||(value='');">
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Phone is required or must be at most 10 digits
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Birthday:</label>
        <input #birthday matInput [matDatepicker]="picker" [max]="myDate" [value]="user.birthday" [formControl]="birthdayFormControl" (keydown.space)="$event.preventDefault();"
                onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birthdayFormControl.hasError('required')">
          Birthday is required!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Level</mat-label>
        <mat-select #level matNativeControl required  [value]="user.level" (selectionChange)="selectChangeHandler(level.value)">
          <mat-option *ngFor="let eachLevel of levels" [value]="eachLevel">{{eachLevel}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field >
        <mat-label>Building</mat-label>
        <mat-select #id_building [value]=user.id_building (selectionChange)="onSelectBuilding($event.value)" [disabled]="setDis">
          <mat-option *ngFor="let building of arrayBuilding" [value]=building.id>{{building.name_building}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4" [formGroup]="selectAllFloor">
      <mat-form-field >
        <mat-label>Floor</mat-label>
        <mat-select multiple #id_floors [ngModel]=user.id_floors (selectionChange)="onSelectFloors($event.value)" [disabled]="setDis" formControlName="floorType">
          <mat-option #allSeclected (click)="toggleAllSelection()" [value]="0">All
              </mat-option>    
          <mat-option *ngFor="let floor of arrayFloor" [value]=floor.id_floor (click)="tosslePerOne(allSeclected.viewValue)">{{floor.name_floor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary"
        (click)="onUpdate(user,password.value,name.value,email.value,phone.value,birthday.value,level.value,id_building.value,id_floors.value)">Update</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </div>
</div>