<div class="sidebar-scroll">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/floormanager']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Floor Manager </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
  
  
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/floormanager/floor-manage-floors/Schedule-Calendar']">
        <i class="fas fa-calendar-alt"></i>
        <span>Schedule Calendar</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/floormanager/floor-manage-floors/Schedule-Approve']">
        <i class="fas fa-calendar-alt"></i>
        <span>Schedule Approve</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/floormanager/floor-manage-floors']">
        <i class="far fa-building"></i>
        <span>Room Management</span></a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
</div>
