<div class="custom-detail">
  <form class="example-form">
      <h3>Detail customer</h3>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <label class="style-label">Username:</label>
                <input matInput [ngModel]="user.username" name="username" readonly>
            </mat-form-field>
            <br>
            <mat-form-field class="email">
                <label class="style-label">Email:</label>
                <input matInput [ngModel]="user.email" name="email" readonly>
            </mat-form-field>
            <br>
            <mat-form-field>
                <label class="style-label">Level:</label>
                <input matInput [ngModel]="user.level" name="level" readonly>
            </mat-form-field>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <mat-form-field>
              <label class="style-label">Name:</label>
              <input matInput  [ngModel]="user.name" name="name" readonly>
          </mat-form-field>
          <br>
          <mat-form-field>
              <label class="style-label">Phone:</label>
              <input matInput  [ngModel]="user.phone" name="phone" readonly>
          </mat-form-field>
          <br>
          <mat-form-field>
              <label class="style-label">Birthday:</label>
              <input matInput [ngModel]="user.birthday | date "  name="birthday"  readonly>
          </mat-form-field>
          </div>
    </div>
  </form>
</div>
