<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Room Management</h1>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="btn-add">
            <a [routerLink]="['/floormanager/floor-manage-floors/addroom',this.idbuilding,this.idfloor]">
            <button type="button" class="btn btn-primary" (click)="AddRoom()">Add Room</button>
            </a>
        </div>
        <div class="btn-back">
          <a [routerLink]="['/floormanager/floor-manage-floors']">
          <button type="button" class="btn btn-primary">Go Back</button>
          </a>
      </div>
      </div>
      <!-- Topbar Search -->
      <div class="card-body">
        <div class="table-responsive-xl">
          <table class="table">
            <thead>
              <tr>
                <th>Name room</th>
                <th>Size</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let room of listRoom" >
                  <td>Phòng {{room.name_room}}</td>
                  <td>{{room.size}}</td>
                  <td><button type="button" class="btn btn-success" (click)="UpdateRoom(room)">Update</button>
                  </td>
                  <td><button type="button" class="btn btn-danger" (click) = "alertFunction(room.id_room)">Delete</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
