<div class="container">
  <div class="row">
    
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 34px" *ngFor='let building of listBuilding'>
            <a  [routerLink]="['/customer/book-room/floors',building.id]">
          <div class="offer offer-radius offer-success body-building">
            <div class="shape">
              <div class="shape-text">
                <fa name="building" size="lg"></fa>
              </div>
            </div>
            <div class="offer-content">
              <h3 class="lead">
                {{building.name_building}}
              </h3>
            <br>
             Số tầng: <span class="badge badge-success">{{building.total_floor}}</span>
            </div>
          </div>
        </a>
        </div>
    </div>
</div>