<div class="container">


    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top:34px" *ngFor='let room of listRoom'>
          <a  [routerLink]="['/admin/Schedule-Calendar/floors/rooms/schedule-calendar',this.id_building,this.id_floor,room.id_room]">
        <div class="offer offer-radius offer-info body-building">
          <div class="shape">
            <div class="shape-text">
              <fa name="home" size="lg"></fa>
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead">
             Phòng: {{room.name_room}}
            </h3>
          <br>
           Kích thước: <span class="badge badge-info">{{room.size}}</span>
           
        
  
          </div>
        </div>
        </a>
      </div>
  
  
    </div>
  </div>