<!-- 
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/1.jpg"  class="d-block w-50 " alt="..." >
                </div>       
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div> -->
<div class="margin-top">

    <!-- Sidebar -->
    <div class="sidebar-scroll">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Heading -->
            <div class="sidebar-heading">
                <h3>Function</h3>
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-user-circle"></i>
                    <span>Account</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" data-toggle="modal" data-target="#ModalUpdateCustomer">Update account</a>
                        <a class="collapse-item"data-toggle="modal" data-target="#ModalChangePassword">Change password</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/customer/book-room']">
                    <i class="fas fa-building"></i>
                    <span>Book room</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->
    </div>

    <!-- Modal Information -->
    <div id="ModalUpdateCustomer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Update user</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for=""></label>
                      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
                </div>
            </div>
        </div>
    </div>

    <div id="ModalChangePassword" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Change password</h2>
                    </div>
                    <div class="modal-body">
                        <form class="example-form">
                                <mat-form-field>
                                        <label class="style-label">UserName:</label>
                                        <input matInput #username type="text">
                                    </mat-form-field>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <label class="style-label">Old password:</label>
                                        <input matInput #oldPassword type="password">
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <label class="style-label" >New password:</label>
                                        <input matInput #newPassword type="password">
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <label class="style-label">Confirm password:</label>
                                        <input matInput #confirmPassword type="password">
                                    </mat-form-field>
                                    <div class="alert alert-danger" role="alert" *ngIf="errorMessageFromChangePassword">
                                        {{errorMessageFromChangePassword}}
                                      </div> 
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="OnUpdateCustomer(user, username.value, oldPassword.value, newPassword.value); oldPassword.value = ''; newPassword.value=''; confirmPassword.value='' " >Update</button> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeChangePass>Close</button>
                    </div>
                </div>
        </div>
    </div> 
</div>