<div class="container">


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top:34px" *ngFor='let floor of listFloor'>
        <a  [routerLink]="['/customer/book-room/floors/rooms',this.id,floor.id_floor]">
      <div class="offer offer-radius offer-primary body-building">
        <div class="shape">
          <div class="shape-text">
            <fa name="reorder" size="lg"></fa>
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
           Tầng: {{floor.name_floor}}
          </h3>
        <br>
         Số phòng: <span class="badge badge-primary">{{floor.total_room}}</span>
         
      

        </div>
      </div>
      </a>
    </div>


  </div>
</div>
