<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-sidebar-admin></app-sidebar-admin>   
        </div>
        <div class="col-md-10">
            <app-navbar-admin></app-navbar-admin>
            <!-- <app-table-list></app-table-list> -->
            <router-outlet></router-outlet>
        </div>
  </div>
</div>