.navbar{
    background-color: #4e73df;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-left: -19px;
}

.modal-header{
    background-color: #007bff;
    text-align: center;
    color: #e3f2fd;
}

.sidebar-scroll {
    height: 100%;
    z-index: 1;
    position: fixed;
    margin-left: -15px;
}

.navbar{
    background-color: #4e73df;
}

/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}
