<div class="sidebar-scroll">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/admin']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Admin </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Heading -->
    <div class="sidebar-heading">
      Lists
    </div>

       <!-- Nav Item - Dashboard -->
       <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin/dashboard']">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
  
    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/Schedule-Calendar']">
        <i class="fas fa-calendar-alt"></i>
        <span>Schedule calendar</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/manage-buildings']">
        <i class="far fa-building"></i>
        <span>Room management</span></a>
    </li>
  
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/user-management']">
        <i class="fas fa-user"></i>
        <span>Account management</span></a>
    </li>

    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/schedule-approve']">
        <i class="fas fa-user"></i>
        <span>Schedule approve</span></a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  
  </ul>
</div>
