<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-sidebar-floor></app-sidebar-floor>   
        </div>
        <div class="col-md-10">
            <app-navbar-floor></app-navbar-floor>
            <!-- <app-table-list></app-table-list> -->
            <router-outlet></router-outlet>
        </div>
  </div>
</div>
