<div class="title">
  <h1 mat-dialog-title>UPDATE BUIDING</h1>
</div>
<div class="form">
  <mat-form-field class="example-full-width">
    <input #name_building [ngModel]="building.name_building" matInput placeholder="Name building">
  </mat-form-field>
  <div class="alert alert-danger" role="alert" *ngIf="messageFromServiceUpdate">
    {{messageFromServiceUpdate}}
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary"  style="margin-right: 30px;" (click)="OnUpdate(building, name_building.value)" >Save</button>
    <button type="button" class="btn btn-secondary" (click)="OnClose()">Close</button>
  </div>
</div>
  
