<div class="title">
  <h2 mat-dialog-title>ADD SCHEDULE</h2>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 label-add-schedule-date" >
          <p>Choose Date: <p>
      </div>
      <div class="col-md-7">
        
        <mat-form-field style="margin-top: 20px" class="demo-full-width" > 
          <input required matInput [matDatepicker]="picker"  #id_chooseDate name="date" placeholder="Date"  [(ngModel)]="flightSchedule.date"> 
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
          <mat-datepicker  #picker></mat-datepicker> 
        </mat-form-field>
      
          
        
        
        <!-- <mat-form-field>
          <input #email matInput placeholder="Email..." /> </mat-form-field
        ><br /> -->
   
      </div>
      <div class="col-md-2"></div>
        <!-- <mat-form-field>
            <mat-label>Choose Bulding</mat-label>
            <mat-select  #id_building (selectionChange)="onSelectBuilding($event.value)" [disabled]="setDis">
              <mat-option [value]="building.id" *ngFor='let building of arrayBuildingFloor'>
                  {{building.name_building}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <mat-label>Choose floor</mat-label>
          <mat-select  multiple #id_floors [disabled]="setDis">
            <mat-option *ngFor="let floor of arrayFloorByBuilding.floor" [value]="floor.id_floor">{{
              floor.name_floor
            }}</mat-option>
          </mat-select> </mat-form-field -->
        
    
      </div>
      <div class="row">
          <div class="col-md-3 label-add-schedule-hour">
            <p>Choose hour: </p>
          </div>
          <div class="col-md-7">
            <mat-form-field class="select-hour">
              <mat-label>Hour</mat-label>
              <mat-select  #id_hour (selectionChange)="onSelectHour($event.value)" >
                <mat-option [value]="hour" *ngFor='let hour of arrayHour'>
                    {{hour}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field class="select-hour">
                <mat-label>Minute</mat-label>
                <mat-select  #id_minute >
                    <mat-option [value]="00">00</mat-option>
                    <mat-option [value]="30">30</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3 label-add-schedule-timeSchedule">
          <p>Time schedule: </p>
        </div>
        <div class="col-md-7">
          <mat-form-field class="select-hour">
            <mat-label>Hour</mat-label>
            <mat-select  #id_timeSchedule (selectionChange)="onSelectHour($event.value)" >
              <mat-option [value]="hour" *ngFor='let hour of arrayHourSchedule'>
                  {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
      <div class="col-md-3 label-add-schedule-title">
          <p>Title: </p>
      </div>
      <div class="col-md-7">
        <mat-form-field class="example-full-width">
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-2">

      </div>
  </div>
  <div class="row">
 
    <div class="col-md-12">
      
    </div>
 
</div>

<script>
  function myFunction() {
    alert("Hello! I am an alert box!");
  }
</script>
<div>
  
</div>

</div>
      <div class="button-group float-md-right">
          
          
          <button class="btn btn-primary button-save" (click)="onSave(id_chooseDate.value, id_hour.value, id_minute.value, id_timeSchedule.value)">
          Save</button>
        
            <button type="button" class="btn btn-secondary" (click)="onCloseMain()">Close</button>
            
      </div>