<div class="row text-center">
    <div class="col-md-3">
      <mat-form-field >
        <mat-label>Choose Building</mat-label>
        <mat-select  #id_building (selectionChange)="onSelectBuilding($event.value)" [value]="i" [(ngModel)]="idBuilding" [value]="idFloor">
          <mat-option [value]="building.id" *ngFor='let building of arrayBuilding'>
              {{building.name_building}}
          </mat-option>
        </mat-select>
  
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field >
        <mat-label>Choose Floor</mat-label>
        <mat-select #id_floor  (selectionChange)="onSelectFloor(id_building.value,$event.value)" [(ngModel)]="idFloor" [value]="idFloor">
          <mat-option *ngFor="let floor of arrayFloor" [value]="floor.id_floor">Tầng {{
            floor.name_floor
          }}
          </mat-option>
        </mat-select>
  
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field >
        <mat-label>Choose Room</mat-label>
          <mat-select #id_room (selectionChange)="onSelectRoom($event.value)"  [(ngModel)]="nrSelect"  [value]="idRoom"> <!--[(ngModel)]="idRoom" -->
              <mat-option [value]="0">Select All </mat-option>
            <mat-option *ngFor="let room of arrayRoom" [value]="room.id_room">Phòng {{
              room.name_room
            }}
            </mat-option>
          </mat-select>
  
      </mat-form-field>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (click) = "onWeekPrevious()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (click) = "onToday()"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (click) = "onWeekNext()"
          
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4" >
      
        <button
          class="btn btn-primary float-md-right" (click) = "modalAddEvent()"
          [disabled] = "openButton"
        >
          Add new
        </button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view" id="body-calendar">
    
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [events]="eventsHistory"
      [refresh]="refresh"
      [dayStartHour]="7"
      [dayEndHour]="23"
      [hourSegments] = "1"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  
  <!-- <h3>
    Edit events
    <button class="btn btn-primary pull-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  -->
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">UPDATE SCHEDULE</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      
    </div>
    <div class="modal-body"> <!-- Modal Body -->
      <div class="row">
        <div class="col-md-3 " >
          <mat-form-field class="label-update-schedule-building">
            <mat-label>Choose Building</mat-label>
            <mat-select  #idBuildingUpdate (selectionChange)="onSelectBuilding($event.value)" [value]="idBuilding">
              <mat-option [value]="building.id" *ngFor='let building of arrayBuilding'>
                  {{building.name_building}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="label-update-schedule-building">
              <mat-label>Choose Floor</mat-label>
              <mat-select #idFloorUpdate (selectionChange)="onSelectFloor(id_building.value,$event.value)" [(ngModel)]="idFloor" [value]="idFloor">
                <mat-option *ngFor="let floor of arrayFloor" [value]="floor.id_floor">Tầng {{
                  floor.name_floor
                }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="label-update-schedule-building">
              <mat-label>Choose Room</mat-label>
              <mat-select #idRoomUpdate [(ngModel)]="idRoom"  [value]="idRoom">
                <mat-option *ngFor="let room of arrayRoom" [value]="room.id_room">Phòng {{
                  room.name_room
                }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2" ></div>
      </div>
      
      <div class="row">
          <div class="col-md-3 label-update-schedule-date" >
              <p>Choose Date: <p>
          </div>
          <div class="col-md-7">
            <mat-form-field style="margin-top: 20px" class="demo-full-width">
                <input matInput #idChooseDate [value]="modalData.event.start" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-md-2"></div>
      </div>
      <div class="row">
          <div class="col-md-3 label-update-schedule-timeSchedule">
              <p>Choose hour: </p>
          </div>
          <div class="col-md-7">
              <mat-form-field class="select-hour">
                <mat-label>Hour</mat-label>
                  <mat-select #idHourUpdate [value]=hourStart >
                    <mat-option  *ngFor="let hour of arrayHour" [value]=hour>{{hour}}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="select-hour">
                <mat-label>Minute</mat-label>
                  <mat-select #idMinuteUpdate [value]=minuteStart>
                    <mat-option [value]="0">00</mat-option>
                    <mat-option [value]="30">30</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-2"></div>
      </div>
      <div class="row">
          <div class="col-md-3 label-update-schedule-timeSchedule">
            <p>Time schedule: </p>
          </div>
          <div class="col-md-7">
              <mat-form-field class="select-hour">
                <mat-label>Hour</mat-label>
                <mat-select  #idTimeScheduleUpdate (selectionChange)="onSelectHour($event.value)" [value]=rentHour>
                  <mat-option [value]="hour" *ngFor='let hour of arrayRentHour'>
                      {{hour}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-2"></div>
      </div>
      <div class="row">
          <div class="col-md-3 label-update-schedule-title">
              <p>Title: </p>
          </div>
          <div class="col-md-7">
            <mat-form-field class="example-full-width">
              <textarea matInput ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-2">
    
          </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="messagesUpdateSchedule">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Danger!</strong> {{messagesUpdateSchedule}}
      </div>
    </div> <!-- Modal Body -->
  
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary"  (click)="updateModal(idBuildingUpdate.value, idFloorUpdate.value,idRoomUpdate.value, idChooseDate.value, idHourUpdate.value, idMinuteUpdate.value, idTimeScheduleUpdate.value)">
        OK
      </button>
      <!-- <div>Building: {{idBuilding}} Floor: {{idFloor}} Room:{{idRoom}}</div> -->
    </div>
    
  </ng-template> 




  <ng-template #modalAddSchedule let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">BOOKING ROOM</h5>
        <button type="button" class="close" (click)="closeModalAdd()">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body"> <!-- Modal Body -->
 
        <div class="container">
            <div class="row">
              <div class="col-md-3 label-add-schedule-date">
                <p>Choose Date: <p>
              </div>
              <div class="col-md-7">
                <mat-form-field class="demo-full-width">
                  <input matInput [matDatepicker]="picker" #id_chooseDate placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2">

              </div>
            </div>

            <div class="row">
              <div class="col-md-3 label-add-schedule-hour">
                <p>Choose Hour: </p>
              </div>
              <div class="col-md-7">
                <mat-form-field class="select-hour">
                  <mat-label>Hour</mat-label>
                  <mat-select  #id_hour  >
                    <mat-option [value]="hour" *ngFor='let hour of arrayHour'>
                        {{hour}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field class="select-hour">
                    <mat-label>Minute</mat-label>
                    <mat-select  #id_minute >
                        <mat-option [value]="00">00</mat-option>
                        <mat-option [value]="30">30</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-2"></div>
          </div>

          <div class="row">
            <div class="col-md-3 label-add-schedule-timeSchedule">
              <p>Time Schedule: </p>
            </div>
            <div class="col-md-7">
              <mat-form-field class="select-hour">
                <mat-label>Hour</mat-label>
                <mat-select  #id_timeSchedule  >
                  <mat-option [value]="hour" *ngFor='let hour of arrayRentHour'>
                      {{hour}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
    
            </div>
        </div>

        <div class="row">
          <div class="col-md-3 label-add-schedule-title">
              <p>Title: </p>
          </div>
          <div class="col-md-7">
            <mat-form-field class="example-full-width">
              <textarea matInput ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-2">
    
          </div>
      </div>
      <div class="row">
 
        <div class="col-md-12 alert alert-danger alert-dismissible" *ngIf="messagesAddSchedule">
          {{messagesAddSchedule}}
        </div>
     
      </div>

        </div>
        
      </div> <!-- Modal Body -->
    
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"  (click)="addSchedule(id_chooseDate.value, id_hour.value, id_minute.value, id_timeSchedule.value)">
          OK
        </button>

        <button type="button" class="btn btn-outline-secondary" (click)="closeModalAdd()" >
          Cancel
        </button>
        <!-- <div>Building: {{idBuilding}} Floor: {{idFloor}} Room:{{idRoom}}</div> -->
      </div>
      
    </ng-template> 
  