::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
  }
  .select-hour{
    width: 70px;
}
.label-add-schedule-date{
    padding-top: 22px;
}
.label-add-schedule-hour{
    padding-top: 17px;
}
p{
    text-align: center;
}
.label-add-schedule-timeSchedule{
    padding-top: 21px;
}
.example-full-width {
    width: 100%;
}
.label-add-schedule-title{
    padding-top: 41px;
    padding-left: 85px;
}