<div class="container-fluid">
  <div class="row header-showDetail">
    <div class="col-md-12">
      <h4>DETAIL</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <label class="style-label">Username:</label>
        <input matInput [ngModel]="user.username" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Email:</label>
        <input matInput [ngModel]="user.email" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Level:</label>
        <input matInput [ngModel]="user.level" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Building:</label>
        <input matInput [ngModel]="building.name_building" readonly>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <label class="style-label">Name:</label>
        <input matInput [ngModel]="user.name" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Phone:</label>
        <input matInput [ngModel]="user.phone"  readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Birthday:</label>
        <input type="datetime" matInput [ngModel]="user.birthday | date" readonly>
      </mat-form-field>
      <mat-form-field>
        <label class="style-label">Floor:</label>
        <input matInput [ngModel]="arrayFake" value="arrNameFloor" readonly>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </div>
</div>