<div class="container-fluid">
    <div class="row header-showDetail">
      <div class="col-md-12">
        <h4>UPDATE FLOOR</h4>
      </div>
    </div>
    <form class="floor" [formGroup]="floorformGroup" style="margin-top: 10px" novalidate>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="example-full-width">
            <input type="number" min="0" max="100" oninput="validity.valid||(value='');" formControlName="namefloor" #name_floor [ngModel]="floor.name_floor" matInput placeholder="Name floor" required>
            <mat-error *ngIf="namefloor.invalid">Name floor is required!</mat-error>
          </mat-form-field>
        </div>    
        <div class="col-md-2">
            <button class="btn btn-primary" [disabled]="floorformGroup.status == 'INVALID'" style="margin-top: 10px" (click)="onUpdate(name_floor.value)">Update</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary" style="margin-top: 10px; margin-left: 10px" (click)="onClose()">Close</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <div class="alert alert-danger" role="alert" *ngIf="messageFromService">
                {{messageFromService}}
            </div>
        </div>
      </div>
    </form>
  </div> 
  