<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>

      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
     
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
        
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name" readonly>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="First name" readonly>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="First name" readonly>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>

<mat-panel-title>
  Person book
</mat-panel-title>

<mat-panel-title>
  Person book
</mat-panel-title>


</mat-expansion-panel-header>

<mat-form-field>
<input matInput placeholder="First name" readonly>
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="First name" readonly>
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="First name" readonly>
</mat-form-field>
</mat-expansion-panel>

</mat-accordion>