<div class="container-fluid">
  <div class="row">
      <div class="col-md-2">
          <app-sidebar-customer></app-sidebar-customer>   
        </div>
        <div class="col-md-10">
            <div class="row header">
              <app-navbar-customer></app-navbar-customer>
            </div>
            <div class="row content">
              <div class="col-md-12">
                  <div class="custom-outlet schedule">
                      <router-outlet></router-outlet>
                  </div>
              </div>
               
            </div>
            <!-- <app-table-list></app-table-list> -->
           
        </div>
  </div>
</div>


