<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Floor Management</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="btn-add">
          <a [routerLink]="['/admin/manage-buildings/manage-floors/addfloor',this.idbuilding]">
          <button type="button" class="btn btn-primary" (click)="AddFloor()">Add Floor</button>
          </a>
      </div>
      <div class="btn-back">
        <a [routerLink]="['/admin/manage-buildings']">
        <button type="button" class="btn btn-primary">Go Back</button>
        </a>
    </div>
    </div>
    <!-- Topbar Search -->
    <div class="card-body">
      <div class="table-responsive-xl">
        <table class="table">
          <thead>
            <tr>
              <th>Name floor</th>
              <th>Total room</th>
              <th></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let floor of listFloor" >
                <td>Tầng {{floor.name_floor}}</td>
                <td>{{floor.total_room}} phòng</td>
                <td><button type="button" class="btn btn-success" (click)="UpdateFloor(floor)">Update</button>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="alertFunction(floor.id_floor)">Delete</button>
                </td>
               <a [routerLink]="['/admin/manage-buildings/manage-floors/manage-room',this.idbuilding,floor.id_floor]"><td><button type="button" class="btn btn-info" >Add Room</button>
                </td></a>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
